@model Exam.Model.ViewModels.StudentVM


<form method="post" asp-action="GetUser">
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					Stduent Examination :
					<hr />
				</div>
				<div class="mb-3">
					<label asp-for="Student.UserId"></label>
					<input asp-for="Student.UserId" class="form-control" />
				</div>
				<div class="col-12 pb-2">
					Stduent Password :
					<hr />
				</div>
				<div class="mb-3">
					<label asp-for="Student.Password"></label>
					<input asp-for="Student.Password" class="form-control" />
				</div>
				<div class="col-12">
					<button type="submit" id="Enter" class="btn btn-info btn-lg" style="width:100%;"><span class="glyphicon glyphicon-user"></span>   Enter</button>
				</div>
			</div>
		</div>
	</div>
</form>




