@model Exam.Model.ViewModels.AnswerVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Answer.Id" hidden />

	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					<h2 class="text-primary">@(Model.Answer.Id != 0 ? "Update" : "Create")  Answer</h2>
					<hr />
				</div>
				@*<div asp-validation-summary="All"></div>*@
				<div class="mb-3">
					<label asp-for="Answer.AnswerText"></label>
					<input asp-for="Answer.AnswerText" class="form-control" />
					<span asp-validation-for="Answer.AnswerText" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Answer.Question"></label>
					<select asp-for="Answer.QuestionId" asp-items="@Model.QuestionList" class="form-select">
						<option disabled selected>--Select Question--</option>
					</select>
					<span asp-validation-for="Answer.QuestionId" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Answer.Subject"></label>
					<select asp-for="Answer.SubjectId" asp-items="@Model.SubjectList" class="form-select">
						<option disabled selected>--Select Subject--</option>
					</select>
					<span asp-validation-for="Answer.SubjectId" class="text-danger"></span>
				</div>
				<div class="col-12">
					@if (Model.Answer.Id != 0)
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
					}
					else
					{
						<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
					}
					<a asp-controller="Answer" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Back to List
					</a>
				</div>
			</div>
		</div>
	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
