
@{
    ViewData["Title"] = "AboutUs";
}

<div class="container p-5 my-5 border">
    <h5>HOW WEEKLY TEST WILL BENEFIT YOUR CHILD</h5>
    <p>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital@1&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
        The school have decided to give student weekly tests that can greatly help their performance by the following ways:

    <p> Regular Practice: Weekly tests offer an opportunity for students to regularly practice their academic skills and knowledge. This improves their understanding of the subject, leading to better performance in assignments and exams.<p>

        Time Management: Weekly tests encourage students to manage their time effectively, setting aside enough time to prepare for the test and complete it within the given time frame. This helps them to prioritize their studies and manage their time efficiently.

    <p> Self-Evaluation: Weekly tests enable students to evaluate their own performance and identify areas in which they need to improve. They can reflect on their mistakes and learn from them to avoid repeating them in future exams.

    <p> Alleviates Anxiety: Weekly tests help to reduce stress and anxiety that students may experience before exams. By regularly facing tests, the students become more confident, making them less anxious when facing the actual exams.

    <p> Instant Feedback: Weekly tests provide students with quick feedback on their performance. This helps them to identify their weaknesses and strengths immediately, making it easy to focus on the areas that need improvement.

    <p>
        therefore, weekly tests can greatly help students to boost their academic performance. They provide a regular practice opportunity, encourage good time management and self-evaluation, reduce anxiety, and provide quick feedback.
    </p>

</div>


