@{
	ViewData["Title"] = "";
}


<div>
	<link rel="stylesheet" href="header.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">

</div>

<div>
	<div id=body2>
		<!--image slider start-->
		<div class="slider">

			<div class="slides">
				<!--radio buttons start-->
				<input type="radio" name="radio-btn" id="radio1" />
				<input type="radio" name="radio-btn" id="radio2" />
				<input type="radio" name="radio-btn" id="radio3" />
				<input type="radio" name="radio-btn" id="radio4" />

				<div class="slide first">
					<img src="pic/drawng.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="pic/classroom.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="pic/dance.jpg" alt="" />
				</div>
				<div class="slide">
					<img src="pic/playgroud.jpg" alt="" width="500" height="600" />
				</div>
				<!--slide images end-->
				<!--automatic navigation start-->
				<div class="navigation-auto">
					<div class="auto-btn1"></div>
					<div class="auto-btn2"></div>
					<div class="auto-btn3"></div>
					<div class="auto-btn4"></div>
				</div>
				<!--automatic navigation end-->
			</div>
			<!--manual navigation start-->
			<div class="navigation-manual">
				<label for="radio1" class="manual-btn"></label>
				<label for="radio2" class="manual-btn"></label>
				<label for="radio3" class="manual-btn"></label>
				<label for="radio4" class="manual-btn"></label>
			</div>
			<!--manual navigation end-->
		</div>
		<!--image slider end-->


		<script type="text/javascript">
			var counter = 1;
			setInterval(function () {
				document.getElementById('radio' + counter).checked = true;
				counter++;
				if (counter > 4) {
					counter = 1;
				}
			}, 5000);


		</script>
		<div class="text-box">
			<h1>Welcome To Austell Academy </h1>


			<p>where your kids learn new thing everyday</p>

			<a href="curriculam.html" class="hero-btn">Visit Us To Know More</a>
		</div>

	</div>





	<div class="course">
		<h1>What We offer ?</h1>
		<p>
			we offer your child a series of interactive classes where your child will never be bored,infact, We always tries to enhance your child's development with inovative learning. we believe singing, rhyming and reciting are some strategies where you kid will not hesitate to speak when its comes to any language. Activity areas or learning centres are set up in the classroom, with resources that actively engage children to learn about particular themes or topics.
		</p>
		<div class="row">
			<div class="course-col">
				<h3> Abacus Class</h3>
				<p2>
					We always want your kid to improve and grow everyday. Here we presents our Abacus class.
					An Abacus education improves the skills of Visualization (photographic memory), Concentration, Listening Skills, Memory, Speed, Accuracy, Creativity, Self Confidence, Self-Reliance resulting in Whole Brain Development. Abacus based Arithmetic functions, calculations thereof enhance Concentration levels.
				</p2>



			</div>
			<div class="course-col">
				<h3> Art and creativity class</h3>
				<p1>We all know how much kids love to draw and visualize thing and this is where the role of this class come. In this class your kids get to visualise their study with arts and craft. kids,So now ,no more feeling upset if you can't understand any topic just visualize.</p1>

				<link rel="preconnect" href="https://fonts.googleapis.com">
				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
				<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
			</div>
			<div class="course-col">
				<h3>
					Conversation class
				</h3>
				<p3>
					We all know how much kids get hamper when its come between their mothertongue and English they often get confused between them ,so now kid don't worry at all. We present conversation class its not only the class where your kid interact with their teacher but get to learn many things
				</p3>
				<link rel="preconnect" href="https://fonts.googleapis.com">
				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
				<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
			</div>
		</div>
	</div>
	<!-------campus-------->

	<div class="campus">
		<h1> Occasions</h1>
		<p>
			In Austell Academy we celebrate variety of festivals. And we also held a series of competition.
		</p>

		<div class="row">
			<div class="column-col">
				<a target="_blank" href="pic/costume.jpg">
					<img src="pic/costume.jpg">
					<div class="layer">
						<h3>Costume competiton</h3>
					</div>
				</a>
			</div>

			<div class="column-col">
				<a target="_blank" href="pic/festival.jpg">
					<img src="pic/festival.jpg">
					<div class="layer">
						<h3>Basanta Utsav</h3>
					</div>
				</a>
			</div>

			<div class="column-col">
				<a target="_blank" href="pic/creativity.jpg">
					<img src="pic/sports.jpg">
					<div class="layer">
						<h3>Sports competition</h3>
					</div>
				</a>
			</div>
		</div>

	</div>
	<div class="testi">
		<h10>
			Any Queries
		</h10>

	</div>


	<!------------call to action----------->
	<div class="cta">
		<h5>
			FOR FURTHER QUERIES ABOUT THE SCHOOL OR ANY QUESTION REGARDING ADMISSION, FEEL FREE TO ASK US
		</h5>
		<a href="Reachus.html" class="hero-btn">CONTACT US</a>
	</div>

	<!------------FOOTER----------->

	<div class="footer">
		<h4>About Us</h4>
		<p>
			The School was established in 2019. We have
			excellent teaching and non-teaching staff<br>we always comes up with new way to teach our student.
		</p>
		<div class="footer">
			<div class="icons">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
				<a href="https://www.facebook.com/AustellAcademy" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
				<a href="https://www.instagram.com/austellacademy/" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
				<a href="https://www.youtube.com/channel/UCKvIwjo97Qyqu9VP8COeRyA" target="_blank">
					<i class="fa fa-youtube"></i>
				</a>

			</div>

			<p1> developed by Aswhani Banerjee</p1>

		</div>

	</div>
</div>


