@{
	ViewData["Title"] = "";
}


<div>
	<link rel="stylesheet" href="header.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    
</div>

	<div id=body2>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/pic/hw1.png" class="car" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/pic/hw2.png" class="car" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/pic/hw3.png" class="car" alt="...">
					</div>
				<div class="carousel-caption top-0 mt-5">
					<h1 class="display-1  text-capitalize" style="color:white">
						Welcome To Austell Academy

					</h1>
					<p class="mt-5 fs-3 text-uppercase">where your kids learn new thing everyday</p>
				
				</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>



		

	</div>



	<div class="course">
		<h1>What We offer ?</h1>
		<p12>
			we offer your child a series of interactive classes where your child will never be bored,infact, We always tries to enhance your child's development with inovative learning. we believe singing, rhyming and reciting are some strategies where you kid will not hesitate to speak when its comes to any language. Activity areas or learning centres are set up in the classroom, with resources that actively engage children to learn about particular themes or topics.
		</p12>
		<div class="row">
			<div class="course-col">
				<h3> Abacus Class</h3>
				<p29>
					We always want your kid to improve and grow everyday. Here we presents our Abacus class.
					An Abacus education improves the skills of Visualization (photographic memory), Concentration, Listening Skills, Memory, Speed, Accuracy, Creativity, Self Confidence, Self-Reliance resulting in Whole Brain Development. Abacus based Arithmetic functions, calculations thereof enhance Concentration levels.
				</p29>



			</div>
			<div class="course-col">
				<h3> Art and creativity class</h3>
				<p29>We all know how much kids love to draw and visualize thing and this is where the role of this class come. In this class your kids get to visualise their study with arts and craft. kids,So now ,no more feeling upset if you can't understand any topic just visualize.</p29>

				<link rel="preconnect" href="https://fonts.googleapis.com">
				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
				<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
			</div>
			<div class="course-col">
				<h3>
					Conversation class
				</h3>
				<p29>
					We all know how much kids get hamper when its come between their mothertongue and English they often get confused between them ,so now kid don't worry at all. We present conversation class its not only the class where your kid interact with their teacher but get to learn many things
				</p29>
				<link rel="preconnect" href="https://fonts.googleapis.com">
				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
				<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
			</div>
		</div>
	</div>
	



	
</div>


